<div class="container-fluid" id="hopscotch-add-bottle">
    <div class="row">
        <div class="col-xs-12">
            <h3>Add Bottle</h3>
        </div>
        <div class="col-xs-6">
            <form role="form" name="addBottle">
                <div class="form-group">
                    <label for="distilleryBottle">Name</label>
                    <span class="label label-danger">Required</span>
                    <input type="text" placeholder="Enter name" id="distilleryBottle" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="bottleYear">Year</label>
                    <input type="text" placeholder="Enter year of bottle" id="bottleYear" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="bottleDistillery">Distillery</label>
                    <input type="text" placeholder="Enter date purchased" id="bottleDistillery" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="bottleProof">Proof</label>
                    <input type="number" placeholder="Enter number" id="bottleProof" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="bottleDatePurchased">Date Purchased</label>
                    <input type="text" placeholder="Enter date purchased" id="bottleDatePurchased" class="form-control" />
                    <p class="help-block">Format: yyyy-mm-dd</p>
                </div>
                <div class="form-group">
                    <label for="bottleNum">Number of bottles</label>
                    <input type="number" placeholder="Enter number of bottles" id="bottleNum" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>