<div class="container-fluid" id="hopscotch-bottles">
    <div class="row">
        <div class="col-xs-12">
            <h3>Bottles</h3>
        </div>
        <div class="col-xs-12">
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Distillery</td>
                        <td>Year</td>
                        <td>Acquired</td>
                        <td># Bottles</td>
                        <td>Comments</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bottle in bottles track by $index">
                        <td>{{bottle.name}}</td>
                        <td>{{bottle.distillery}}</td>
                        <td>{{bottle.year}}</td>
                        <td>{{bottle.acquired}}</td>
                        <td>{{bottle.num_bottles}}</td>
                        <td>{{bottle.comments}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>